<h2 class="content-block">Pokemon</h2>

<dx-data-grid style ="max-height: 800px"
  class="dx-card wide-card"
  [dataSource]="pokemon"
  [showBorders]="false"
  [columnAutoWidth]="false"
  [columnHidingEnabled]="true"
  [showBorders]="true"
  (onSelectionChanged)="selectionChanged($event)"
  [columnWidth]="200"
  [allowColumnReordering]="true"
  (onContentReady)="onDataGridChange()"
  (onExporting)="onExporting($event)"

>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true" alignment="left"></dxo-header-filter>
 

  <dxo-export
    [enabled]="true"
    [formats]="['pdf']"
    [allowExportSelectedData]="true"
    [ignoreExcelErrors]="true"
  ></dxo-export>

  <dxo-state-storing
    [enabled]="true"
    type="custom"
    storageKey="currentState"
  ></dxo-state-storing>

  <dxo-scrolling mode="standard" showScrollbar="always"></dxo-scrolling>  
  <dxo-paging [pageSize]="10"> </dxo-paging>
  <dxo-pager
    [visible]="true"
    [allowedPageSizes]="[5,10,20,'all']"
    [displayMode]="'full'"
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
  >
  </dxo-pager>

  <dxo-editing mode="popup">
    <dxo-texts confirmDeleteMessage=""></dxo-texts>
  </dxo-editing>

  <dxo-selection mode="single"></dxo-selection>

  <dxi-column
    dataField="sprite[0]"
    caption="Sprite"
    [allowSorting]="false"
    cellTemplate="cellTemplate"
    [allowFiltering]="false"
    [hidingPriority]="2"
  >
  </dxi-column>

  <dxi-column dataField="id" [hidingPriority]="2"> </dxi-column>

  <dxi-column alignment="right" dataField="name" [hidingPriority]="2">
  </dxi-column>

  <dxi-column dataField="height" [hidingPriority]="2"> </dxi-column>

  <dxi-column dataField="type" [hidingPriority]="2"> </dxi-column>

  <div *dxTemplate="let data of 'cellTemplate'">
    <img [src]="data.value" />
  </div>

</dx-data-grid>

<dx-speed-dial-action
icon="add"
label="Add row"
[index]="1"
(onClick)="addRow()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
icon="trash"
label="Delete row"
[index]="2"
[visible]="selectedRowIndex !== -1"
(onClick)="deleteRow()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
icon="edit"
label="Edit row"
[index]="3"
[visible]="selectedRowIndex !== -1"
(onClick)="editRow()"
>
</dx-speed-dial-action>

<dx-button
  stylingMode="contained"
  text="Show"
  type="default"
  [width]="120"
  (onClick)="click($event)"
>
</dx-button>

<dx-button
  stylingMode="contained"
  text="Update Table"
  type="default"
  [width]="120"
  (onClick)="updateTable()"
>
</dx-button>

<dx-button
  stylingMode="contained"
  text="Clear Filter"
  type="default"
  [width]="120"
  (onClick)="clearFilter()"
>
</dx-button>

<br />
<br />

<div class="dx-field">
  <div class="dx-field-value">
    <dx-drop-down-button
      text="Save Slot"
      [dropDownOptions]="{ width: 230 }"
      icon="save"
      [items]="stateConfig"
      (onItemClick)="onSaveSlotChanged($event)"
    ></dx-drop-down-button>
  </div>
</div>

<dx-popup
  [width]="300"
  [height]="280"
  [showTitle]="true"
  title="Slide Show"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="popupVisible"
  (onHiding)="popup_hiding($event)"
  (onShown)="popup_shown($event)"
>
  <div class="box" *dxTemplate="let data of 'content'">
    <img
      [src]="pokeSprite"
      style="display: block; margin-left: auto; margin-right: auto; width: 80%"
    />
  </div>
</dx-popup>

<br />
<br />
<br />
<br />

<dx-drop-down-box
  valueExpr="ID"
  displayExpr="name"
  placeholder="Select a pokemon..."
  [showClearButton]="true"
  [dataSource]="pokemon"
>
  <div *dxTemplate="let data of 'content'">
    <dx-tree-view
      [dataSource]="pokemon"
      dataStructure="plain"
      selectionMode="multiple"
      showCheckBoxesMode="normal"
      [selectNodesRecursive]="false"
      displayExpr="name"
      [selectByClick]="true"
      (onItemSelectionChanged)="treeView_itemSelectionChanged($event)"
    >
    </dx-tree-view>
  </div>
</dx-drop-down-box>

<dx-chart
  id="chart"
  title="Pokemon Stat Comparison"
  [dataSource]="statsComparison"
>
  <dxi-series
    valueField="firstPokemonComparisonSlot"
    name="{{ firstPokemonComparisonSlot }}"
  ></dxi-series>
  <dxi-series
    valueField="secondPokemonComparisonSlot"
    name="{{ secondPokemonComparisonSlot }}"
  ></dxi-series>
  <dxo-common-series-settings
    argumentField="name"
    type="bar"
    hoverMode="allArgumentPoints"
    selectionMode="allArgumentPoints"
  >
  </dxo-common-series-settings>
  <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
  </dxo-legend>
  <dxo-export [enabled]="true"></dxo-export>
</dx-chart>

<br />
<br />
<br />
<br />

<dx-tabs
  #apiTabs
  [dataSource]="tabs"
  [selectedIndex]="0"
  (onItemClick)="selectTab($event)"
></dx-tabs>

<dx-chart
  id="chart"
  [dataSource]="chartSource"
  palette="soft"
  (onPointClick)="onPointClick($event)"
>
  <dxo-title text="Breakdown of Pokemon by {{ chartKey }}"> </dxo-title>
  <dxo-common-series-settings
    argumentField="{{ chartKey }}"
    type="bar"
    valueField="value"
    [ignoreEmptyPoints]="true"
  >
  </dxo-common-series-settings>
  <dxo-series-template nameField="{{ chartKey }}"></dxo-series-template>
</dx-chart>
